body {
  background-color: #E8DCD1;
}

h1 {
  font-family: 'Bungee Inline';
  font-size: 38px;
}

nav {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #CCCCCC;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
  border-radius: 20px;
  margin-right: 10%;
  margin-left: 10%;
  /*margin-top: 50px;*/
  padding-top: 10px;
  min-width: 960px;
}

.grid {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  /*background-color: #CCCCCC;*/
  min-width: 720px;
}

.column {
  /*border-width: .5px;
  border-color: #000;
  border-style: solid;*/
  display: flex;
  flex-flow: column;
  width: 15px;
  margin: .5px;
}

.row {
  /*border-width: .5px;
  border-color: #000;
  border-style: solid;*/
  display: flex;
  flex-flow: row;
  height: 15px;
  margin: .5px;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.palette-container {
  margin-top: 15px;
  margin-right: 35px;
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-blob {
  height: 45px;
  width:  45px;
  border-radius: 50%;
  margin: 8px;
}

.tools {
  width:100px;
  height:100px;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  background-color: transparent;
  border-radius: 50%;
  /*fill: blue;*/
}
